@import 'utils/reset';

@import './utils/variablesCss';
@import './utils/mixins.scss';

html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-color);
  font-size: var(--main-fontSize);
  cursor: default;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-wrapper {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.container {
  max-width: 1440px;
  padding: 0 144px;
  margin: 0 auto;
}
@include bp(tablet) {
  .container {
    max-width: 1365px;
    padding: 0 20px;
  }
}
@include bp(small) {
  .container {
    max-width: 767px;
    min-width: 320px;
    padding: 0 10px;
  }
}

@import './ui';
